<h1 class="fw-bold mt-2">
    Trang admin, chỉnh sửa
</h1>

<form method="POST" action="/courses/store" id="form_create" class="m-5 p-5">
    <input id="name" name="name" placeholder="Tên sản phẩm" type="text" class="form-control mt-2 p-3">
    <input id="description" name="description" placeholder="Mô tả" type="text" class="form-control mt-2 p-3">
    <input id="price" name="price" placeholder="Giá cả" type="text" class="form-control mt-2 p-3">
    <input id="image" name="image"  placeholder="Hình ảnh" type="text" class="form-control mt-2 p-3">
    <button class="btn btn-warning p-3 mt-3">Thêm sản phẩm</button>
</form>