    <footer class="footer">
        <div class="footer1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h4>Đăng kí nhận tin</h4>
                    </div>
                    <div class="col-sm-4">
                        <input class="form-control" placeholder="Email của bạn" type="text">
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>

        <div class="footer2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <h4 class="fw-bold">Liên hệ</h4>
                        <p>
                            <span class="fw-bold">Điện thoại:</span> 086 270 1467 <br>
                            <span class="fw-bold">Email:</span> Trannguyenthanhhaupro09@gmail.com <br>

                        </p>
                    </div>
                    <div class="col-sm-3">
                        <h4 class="fw-bold">Về chúng tôi</h4>
                        <p>
                            Thanh Hậu Mottocare hoạt động tập trung vào mảng chăm sóc và đồ chơi cho mọi loại xe hai bánh. Phương châm làm việc cũng như kinh doanh của chúng tôi luôn hướng đến uy tín và làm hài lòng khách hàng.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <p style="color:rgb(117, 117, 117)">© Copyright by Thanhhau Motorcare</p>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
    </footer>