    <header>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <h2>Supper
                             <span id="logo">Motto Care</span>
                            </h2>
                    </div>
                    <div class="col-sm-4">
                        <input placeholder="Tìm kiếm" type="text" class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-header">Call me</button>
                        <button class="btn btn-header">Giỏ hàng</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <nav class="navbar justify-content-center">

                

               <h3> <a class="nav-link" href="#">Danh mục sản phẩm</a> </h3>
               
               <a class="nav-link" href="#">Trang chủ</a> 
               <a class="nav-link" href="#">Đồ chơi xe</a> 
               <a class="nav-link" href="#">Nhớt & dung dịch</a> 
               <a class="nav-link" href="#">Sản phẩm mẫu</a> 
               <a class="nav-link" href="#">Liên hệ</a> 
            </nav>
        </div>
    </header>